/* Centruojam pagrindinį turinį */
main {
  text-align: center;
}

/* Sekcijų tarpai */
main section {
  margin: 4rem auto;
  max-width: 700px;
}

/* Antraštės */
main h2 {
  border: none;        /* pašalina linijas */
  margin-bottom: 1rem;
}

/* Tekstas po antrašte */
main p {
  margin-top: 0;
  line-height: 1.6;
}
