main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-sections {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
